In [1]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import os
from geopy.geocoders import Nominatim

In [2]:
re_prices=pd.read_csv("County_Zhvi_Summary_AllHomes.csv",encoding="ISO-8859-1")

In [3]:
re_prices.head()

,Date,RegionID,RegionName,State,Metro,SizeRank,Zhvi,MoM,QoQ,YoY,5Year,10Year,PeakMonth,PeakQuarter,PeakZHVI,PctFallFromPeak,LastTimeAtCurrZHVI
0,1/31/2019,3101,Los Angeles County,CA,Los Angeles-Long Beach-Anaheim,0,618900,0.001943,0.006996,0.039120,0.068295,0.041077,2019-01,2019-Q1,618900,0.000000,2019-01
1,1/31/2019,139,Cook County,IL,Chicago-Naperville-Elgin,1,223300,0.003596,0.007671,0.029982,0.051400,-0.001245,2007-02,2007-Q1,266900,-0.163357,2004-05
2,1/31/2019,1090,Harris County,TX,Houston-The Woodlands-Sugar Land,2,189400,0.005308,0.016094,0.062255,0.075046,0.036687,2019-01,2019-Q1,189400,0.000000,2019-01
3,1/31/2019,2402,Maricopa County,AZ,Phoenix-Mesa-Scottsdale,3,272000,0.004431,0.016063,0.074674,0.072257,0.037076,2006-05,2006-Q2,290300,-0.063038,2005-11
4,1/31/2019,2841,San Diego County,CA,San Diego-Carlsbad,4,591400,-0.001857,-0.000507,0.033735,0.061072,0.042888,2018-11,2018-Q4,592600,-0.002025,2018-10

In [4]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [5]:
state_expanded=[]
state_abbreviated=[]

for key in states.keys():
    state_expanded.append(states[key])
    state_abbreviated.append(key)

In [6]:
state=pd.DataFrame({"state_a":state_abbreviated,"state_e":state_expanded})

In [7]:
state.head()

  state_a         state_e
0      AK          Alaska
1      AL         Alabama
2      AR        Arkansas
3      AS  American Samoa
4      AZ         Arizona

In [8]:
re_prices_2=pd.merge(re_prices,state,left_on="State",right_on="state_a",how="left")

In [9]:
re_prices_2=re_prices_2.loc[:,["RegionName","state_e","Zhvi","YoY"]]

In [31]:
re_prices_2.loc[:,"Price_2018"]=re_prices_2["Zhvi"]/(1+re_prices["YoY"])

In [32]:
re_prices_2.head()

           RegionName     state_e    Zhvi       YoY     Price_2018
0  Los Angeles County  California  618900  0.039120  595599.999948
1         Cook County    Illinois  223300  0.029982  216799.999961
2       Harris County       Texas  189400  0.062255  178300.000006
3     Maricopa County     Arizona  272000  0.074674  253099.999972
4    San Diego County  California  591400  0.033735  572099.999973

In [36]:
re_prices_2=re_prices_2.rename(columns={"RegionName":"County","state_e":"State"})

In [34]:
df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})

Index(['RegionName', 'state_e', 'Zhvi', 'YoY', 'Price_2018'], dtype='object')

In [39]:
re_prices_2=re_prices_2.iloc[:,[0,1,4]]

In [40]:
re_prices_2.head()

               County       State     Price_2018
0  Los Angeles County  California  595599.999948
1         Cook County    Illinois  216799.999961
2       Harris County       Texas  178300.000006
3     Maricopa County     Arizona  253099.999972
4    San Diego County  California  572099.999973

In [41]:
re_prices_2

                     County          State    Price_2018
0        Los Angeles County     California  5.956000e+05
1               Cook County       Illinois  2.168000e+05
2             Harris County          Texas  1.783000e+05
3           Maricopa County        Arizona  2.531000e+05
4          San Diego County     California  5.721000e+05
5             Orange County     California  7.016000e+05
6              Kings County       New York  7.618000e+05
7         Miami-Dade County        Florida  2.842000e+05
8             Dallas County          Texas  1.862000e+05
9             Queens County       New York  6.080000e+05
10         Riverside County     California  3.627000e+05
11    San Bernardino County     California  3.277000e+05
12             Clark County         Nevada  2.498000e+05
13              King County     Washington  6.176000e+05
14             Wayne County       Michigan  6.720000e+04
15           Tarrant County          Texas  1.930000e+05
16       Santa Clara County     California  1.185700e+06
17           Broward County        Florida  2.442000e+05
18             Bexar County          Texas  1.695000e+05
19          New York County       New York  1.302200e+06
20      Philadelphia County   Pennsylvania  1.419000e+05
21           Alameda County     California  8.383000e+05
22         Middlesex County  Massachusetts  5.191000e+05
23           Suffolk County       New York  3.787000e+05
24        Sacramento County     California  3.531000e+05
25             Bronx County       New York  3.842000e+05
26            Nassau County       New York  5.040000e+05
27        Palm Beach County        Florida  2.600000e+05
28          Cuyahoga County           Ohio  1.227000e+05
29      Hillsborough County        Florida  2.062000e+05
...                     ...            ...           ...
1888            Hall County          Texas  5.250000e+04
1889          Foster County   North Dakota  1.341000e+05
1890            Real County          Texas  1.016000e+05
1891         Woodson County         Kansas  4.750000e+04
1892            Rush County         Kansas  4.590000e+04
1893         Lincoln County         Kansas  4.880000e+04
1894          Morton County         Kansas  8.750000e+04
1895            Ness County         Kansas  6.070000e+04
1896         Granite County        Montana  1.797000e+05
1897          Jewell County         Kansas  4.470000e+04
1898         Edwards County         Kansas  4.030000e+04
1899           Trego County         Kansas  6.760000e+04
1900         Decatur County         Kansas  5.870000e+04
1901             Elk County         Kansas  3.420000e+04
1902           Chase County         Kansas  5.920000e+04
1903            Gove County         Kansas  7.070000e+04
1904        Hamilton County         Kansas  9.310000e+04
1905          Graham County         Kansas  6.200000e+04
1906           Kiowa County         Kansas  8.840000e+04
1907        Renville County   North Dakota  1.297000e+05
1908         Dickens County          Texas  5.320000e+04
1909           Clark County         Kansas  5.440000e+04
1910    Judith Basin County        Montana  1.689000e+05
1911        Hodgeman County         Kansas  6.390000e+04
1912       Armstrong County          Texas  8.490000e+04
1913        Comanche County         Kansas  3.840000e+04
1914         Daniels County        Montana  1.513000e+05
1915            Lane County         Kansas  6.150000e+04
1916           Irion County          Texas  1.242000e+05
1917         Prairie County        Montana  1.085000e+05

[1918 rows x 3 columns]

In [45]:
re_prices_2.to_csv("Price_by_County.csv")